label {
  
  display: block;
  margin-top: 10px;

}

nav{
  background-color: rgb(255, 255, 255);

}
body{
  background-image:url(https://wallpaperaccess.com/full/1610434.jpg);
}
.jumbotron{
  background-color:#39184d;
  color: white;
  text-align: center;
}
.Containersub2 {
  max-width: 500px !important;
  color: white;
  padding: 40px 40px;
  background:rgb(68, 47, 100);
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 7%;
}


.username{
  color: rgb(255, 255, 255);
}
.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.barra-acceso{
  border-radius: inherit;
  background-color:rgb(38, 12, 63);
  color: white;
  height: 50px;
}
.linkHome{
  color: white;
  margin: auto;
}
.linkC{
margin-left: 1300px;
color: white;
}
.linkP{
  color: white;
}



.ButtonG{
  background-color: rgb(51, 16, 56);
  border-radius: 20%;
  display: block;
  margin: auto;
  color: rgb(255, 255, 255);
}
.loot{
  background-color: rgb(51, 16, 56);
  border-radius: 20%;
  display: block;
  margin: auto;
  color: rgb(255, 255, 255);
}